[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
django-allauth = "*"
pillow = "*"
django-crispy-forms = "*"
stripe = "*"
django-countries = "==7.2.1"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
heroku = "*"
boto3 = "*"
django-storages = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.9"
